# Configuración de Base de Datos MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=kiosco_online
DB_USER=root
DB_PASS=

# Credenciales de Mercado Pago (Modo Sandbox / Prueba o Producción)
MP_ACCESS_TOKEN=APP_USR-6469862126743498-092918-3dda6d6485eb5ac6490c0e34a15cb306-3726929146
MP_PUBLIC_KEY=APP_USR-8aa32d45-f7ee-4214-beb9-dec219d04b43

# URL base del proyecto
BASE_URL=http://localhost/2026/Antigravity
