# Configuración de Base de Datos MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=kiosco_online
DB_USER=root
DB_PASS=

# Credenciales de Mercado Pago (Modo Sandbox / Prueba o Producción)
MP_ACCESS_TOKEN=APP_USR-7095660385090422-092918-af3cb4fe592c57d2626e54ce547f7d54-3726929146
MP_PUBLIC_KEY=APP_USR-48ceb450-43c7-48b7-b984-982ba378b481

# URL base del proyecto
BASE_URL=http://localhost/2026/Antigravity
